html,body 
{
  background-color: #fffcfc;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#line 
{
  color: #ffffff;
  font-size: 50px;
}
footer{ 
  height: 60px;
  color: #ffffff;
}
.container{
  flex: 1 0 auto;
}
#gallery{
  background-color:#ff7878; 
  height: 60px;
  color: #ffffff;
}
.slick-list {
overflow: hidden;
}
.slick-track{
display: flex;
align-items: flex-start;
}
.slider {
padding: 0px 60px;
}

.slider .slick-arrow{
position: absolute;
top: 200px;
height: 50px;
}

.slider .slick-arrow.slick-prev{
left: 0;
}

.slider .slick-arrow.slick-next{
right: 0;
}

.slider .slick-dots{
display: flex;
align-items: center;
justify-content: center;
}

.slider .slick-dots li{
list-style: none;
margin: 0px 10px;
}

.slider .slick-dots button{
font-size: 0;
width: 10px;
height: 10px;
background-color: #ffffff;
border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
background-color: #ff7878;
border: 1px solid #ff7878;
}

.slider__item img{
max-width: 100%;
}
